# apps
[submodule "apps/web-app"]
	path = apps/web-app
	url = https://github.com/sparrow-sw/web-app
# services
[submodule "services/fargate-service"]
	path = services/fargate-service
	url = https://github.com/sparrow-sw/fargate-service
[submodule "services/lambda-service"]
	path = services/lambda-service
	url = https://github.com/sparrow-sw/lambda-service
# libraries
[submodule "libraries/db-library"]
	path = libraries/db-library
	url = https://github.com/sparrow-sw/db-library
[submodule "libraries/env-library"]
	path = libraries/env-library
	url = https://github.com/sparrow-sw/env-library
[submodule "libraries/dev-library"]
	path = libraries/dev-library
	url = https://github.com/sparrow-sw/dev-library
[submodule "libraries/util-library"]
	path = libraries/util-library
	url = https://github.com/sparrow-sw/util-library